<!-- _json_ld.antlers.html -->
{{ if seo:json_ld_type && seo:json_ld_type != 'none' }}
    <script type="application/ld+json" id="schema">
        {{ if seo:json_ld_type == 'organization'  }}
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "{{ seo:organization_name }}",
                "url": "{{ config:app:url }}{{ homepage }}"{{ if seo:organization_logo }},
                "logo": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='fill' }}"{{ /if }}
            }
        {{ elseif seo:json_ld_type == 'person' }}
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "url": "{{ config:app:url }}{{ homepage }}",
                "name": "{{ seo:person_name }}"
            }
        {{ elseif seo:json_ld_type == 'custom' }}
            {{ seo:json_ld }}
        {{ /if }}
    </script>
{{ /if }}

{{ if schema_jsonld  }}
    <script type="application/ld+json">{{ schema_jsonld }}</script>
{{ /if }}

{{# Breadcrumbs JSON-ld #}}
{{ if seo:breadcrumbs && segment_1 }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {{ nav:breadcrumbs }}
                    {
                        "@type": "ListItem",
                        "position": {{ count }},
                        "name": "{{ title }}",
                        "item": "{{ permalink }}"
                    } {{ unless last}},{{ /unless}}
                {{ /nav:breadcrumbs }}
            ]
        }
    </script>
{{ /if }}