<!-- _open_graph.antlers.html -->
<meta property="og:site_name" content="{{ seo:site_name ? seo:site_name : config:app:name }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="{{ site:locale }}">

{{ if og_title }}
    <meta property="og:title" content="{{ og_title }}">
{{ else }}
    <meta property="og:title" content="{{ seo_title ? seo_title : title }}">
{{ /if }}

{{ if og_description }}
    <meta property="og:description" content="{{ og_description }}">
{{ elseif seo_description }}
    <meta property="og:description" content="{{ seo_description }}">
{{ elseif seo:collection_defaults }}
    <meta property="og:description" content="{{ partial:snippets/seo/description/fallback }}">
{{ /if }}


{{ if og_image }}
    <meta property="og:image" content="{{ glide:og_image width='1200' height='630' fit='crop_focal' absolute="true" }}">
{{ elseif seo:og_image }}
    <meta property="og:image" content="{{ glide:seo:og_image width='1200' height='630' fit='crop_focal' absolute="true" }}">
{{ /if }}