<!-- _twitter.antlers.html -->
{{ if twitter_image or seo:twitter_image }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ seo:twitter_handle }}">
    {{ if og_title }}
        <meta name="twitter:title" content="{{ og_title }}">
    {{ else }}
        <meta name="twitter:title" content="{{ seo_title ? seo_title : title }}">
    {{ /if }}
    {{ if og_description }}
        <meta name="twitter:description" content="{{ og_description }}">
    {{ elseif seo_description }}
        <meta name="twitter:description" content="{{ seo_description }}">
    {{ elseif seo:collection_defaults }}
        <meta name="twitter:description" content="{{ partial:snippets/seo/description/fallback }}">
    {{ /if }}
    {{ if twitter_image }}
        <meta name="twitter:image" content="{{ glide:twitter_image width='1200' height='600' fit='crop_focal' absolute="true" }}">
        {{ asset :url="twitter_image" }}
            {{ if alt }}
                <meta name="twitter:image:alt" content="{{ alt ensure_right='.' }}">
            {{ /if }}
        {{ /asset }}
    {{ elseif seo:twitter_image }}
        <meta name="twitter:image" content="{{ glide:seo:twitter_image width='1200' height='600' fit='crop_focal' absolute="true" }}">
        {{ asset :url="seo:twitter_image" }}
            {{ if alt }}
                <meta name="twitter:image:alt" content="{{ alt ensure_right='.' }}">
            {{ /if }}
        {{ /asset }}
    {{ /if }}
{{ /if }}